body {
    background-color: #E5E5E5;
    font-family: 'Raleway', sans-serif;
    color: black;
}
html {
    scroll-behavior: smooth;
}
    

header {
    display: flex;
    width: 940px;
    margin: 20px auto;
    justify-content: space-between;
   
}

.nome {
    display: flex;
}

header li {
    display: inline;
    margin-right: 10px;
}

header a{
    text-decoration: none; 
}

.principal{
    width: 940px;
    margin: 20px auto;
}

.texto-principal h1{
    font-size: 52px;
    font-weight: 1000;
    margin: 24px 0px;
}

.texto-principal p{
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;  
}

.principal div{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.principal {
    display: flex;
    align-items: center;
    margin: 40px auto;  
}

.redes-sociais  {
    display: flex;
    margin-top: 30px;
}

.redes-sociais li{
    margin-right: 30px;
}

.redes-sociais a {
    text-decoration: none;
}

.perfil {
    border-radius: 500px;
    width: 368px;
    height: 368px;
}

.sub-titulo{
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    padding: 0px 15px 30px 15px;
}

.sobre-mim-container {
    background: #EAF2FD;
}

.sobre-mim{
    width: 940px;
    margin: 40px auto;
    display: flex;
    padding: 64px;
    flex-flow: column wrap;
}

.sobre-mim p {
    display: flex;
    width: 740px;
    margin: 20px 0px;
    font-size: 16px;
}

.skills-hobbies-container {
    width: 940px;
    margin: 20px auto;
}

.skills ul{
    display: flex;
    justify-content: space-between;
}
    
.lista-skills {
    width: 14%;
    background-color: #FFFFFF;
    padding: 70px 70px 10px 10px;
    margin: 1%;
}  

.hobbies {
    margin: 40px auto;
}

.hobbies ul{
    display: flex;
    justify-content: space-between;
}
    
.lista-hobbies {
    width: 14%;
    background-color: #FFFFFF;
    padding: 70px 70px 10px 10px;
    margin: 1%;
}  

.formacoes-container {
    background: #EAF2FD;
}

.formacoes {
    width: 940px;
    margin: 40px auto;
    display: flex;
    padding: 50px;
    flex-flow: column wrap;
}


.formacoes ul{
    display: flex;
    text-align: center;
    width: 30%;
   

}

.formacoes li{
    width: 80%;
}

.lista-formacoes {
    display: inline-block;
  
    align-items: center;
    margin: 1%
}

.lista-formacoes img{
    background-color: #FFFFFF;
    padding: 15px;
}

.lista-formacoes h3 {
    font-weight: 700;
    font-size: 22px;
}

.lista-formacoes p {
    font-weight: 500;
    font-size: 16px;
}

.xp-container {
    width: 940px;
    margin: 40px auto;
}

.item-lista img{
    width: 40%;
}

.item-lista {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

.item-lista h3{
    font-size: 22px;
    font-weight: bold;
}

.btn{
    display: inline;
    margin: 10px 0px;
    align-items: left;
}

#btn1 {
    color: #2A7AE4;
    border: 1px solid #2A7AE4;
    padding: 10px 0px;
    width: 100px;
}

#btn2 {
    color: white;
    border: 1px solid #2A7AE4;
    background-color: #2A7AE4;
    padding: 10px 0px;
    width: 100px; 
}

.txt {
    display: flex;
    flex-flow: column wrap;
    text-align: start;
}

.txt h3{
    width: 250px;
    padding: 10px 0px;
    font: 'raleway';
}

.form-container {
    background: #EAF2FD; 
}

.formulario {
    display: flex;
    width: 940px;
    margin: 40px auto;
    padding: 20px 0px;;
}

.formulario img{
    display: flex;
    width: 40%;
}


.form-inputs{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.form-inputs h2 {
    font-size: 32px;
    font-weight: bold;
    margin: 5px 15px;    
}

.form-inputs p{
    margin: 5px 15px;
    font-size: 16px;
}

.form-inputs label{
    position: relative;
    top: 30px;
    left: 25px;
}

.form-inputs input{
    height: 56px ;
    margin: 10px 15px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #EAF2FD;
    border-radius: 4px;
}

.form-inputs textarea{
    height: 100px ;
    width: 533.56px;
    margin: 10px 15px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #EAF2FD;
    border-radius: 4px;
}

#enviar-msg {
    width: 200px;
    height: 60px;
    color: white;
    border: 1px solid #2A7AE4;
    background-color: #2A7AE4;
    padding: 10px 0px;
    transition: 1s all;
}

#enviar-msg:hover {
    transform: scale(1.2) ;
}

footer {
    align-items: center;
    text-align: center;
}

.cv-export{
    align-items: center;
}

@media screen and (max-width: 460px) {
    header, .principal, .sobre-mim, .sobre-mim p, .skills, .skills ul, .hobbies ul, .skills-hobbies-container, .formacoes, .formacoes ul, .xp-container, .formulario, .form-inputs label, .form-inputs textarea, .form-inputs input{
        width: auto;
        display: inline-block;
    }

    .sobre-mim{
        padding: 30px 60px;
    }
    .perfil {
        margin: 10px;
    
    }
    .texto-principal h1{
        font-size: 35px;
    }

    .formacoes li {
        width: 100%;
        margin: 20px auto;
    }

    .hobbies li, .skills li {
        display: inline-block;
        margin: 10px auto;
    }

    .item-lista{
        width: 100%;
        display: block;
        text-align: center;
    }

    .txt {
        text-align: center;
    }

    .txt h3{
        margin: 10px auto;
    }

    .formulario img {
        width: 100%;
        padding: auto 50px;
    }


    .form-inputs label{
        position: static;
        padding: 30px 0px 0px 20px;
    }
    

    header {
        display: none;
    }
 
    .skills-hobbies-container{
        text-align: center;
        display: inline;
    }

    .lista-skills h3{
        width: auto;
    }


    .lista-skills, .lista-hobbies {
        height: 50px;
        width:50px
    }

    .lista-hobbies h3 {
        width: 120px;
        padding: 0px;
        text-align: left;
    }

  
   
}